---
const pageTitle = "About Me";
import Layout from '../layouts/Layout.astro';

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---


<Layout title="Welcome to Astro.">
	<main>

<p>Here are a few facts {pageTitle}</p>
<ul class="text-white">
  <li>My name is {identity.firstName}.</li>
  <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
  {identity.hobbies.length >= 2 && 
    <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
  } 
</ul>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>

<h1 class="text-2xl text-blue-600">Test</h1>
</main>
</Layout>